.header-component__container {
  padding: 16px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(68, 68, 68, 0.8);
  font-family: "Poppins", sans-serif;
  height: 100px;
}

.header-component__logo {
  font-family: "Anton", sans-serif;
  text-decoration: none;
  color: #ddd;
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  flex-grow: 1;
  letter-spacing: 7px;
}

.header-component-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #444;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.header-component-nav.active {
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-component-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 18px;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  /* margin: 32px 0; */
}

.header-component-nav ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 24px;
}

.header-component-nav.active ul li a {
  color: #ddd;
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
}

.header-component-nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  max-width: 0;
  height: 3px;
  background-color: white;
  border-radius: 1000px;
  transition: max-height cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.3s;
}

.header-component-nav ul li a:hover,
.header-component-nav ul li a:active {
  color: #999;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menu div {
  position: relative;
  width: 32px;
  height: 4px;
  background-color: #ddd;
  transition: all 0.3s ease-in-out;
}

.menu.active div:nth-child(1),
.menu.active div:nth-child(2) {
  transform: rotateZ(45deg);
}

.menu.active div:nth-child(1) {
  top: 14px;
}

.menu.active div:nth-child(3) {
  transform: rotateZ(-45deg);
  top: -14px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .header-component-nav {
    position: static;
    max-height: 100%;
    background-color: transparent;
  }

  .header-component-nav ul {
    flex-direction: row;
  }
}
