* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("../../img/header.png");
  height: 616px;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ddd;
}

.welcome__title {
  font-size: 48px;
  margin: 0;
}

.welcome__mi-site {
  font-size: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

/* @media (min-width: 768px) {
  .card {
    background-color: transparent;
  }
} */
.card__img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.card_description {
  display: flex;
  flex-direction: column;
  padding: 36px;
  text-align: center;
}

.card_description__title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.card_description__detail {
  /* text-align: center; */
  font-size: 16px;
}

.card_description__link {
  text-align: right;
  text-decoration: none;
  padding: 16px;
  font-size: 16px;
  color: #555;
}

.card_description__link:hover,
.card_description__link:active {
  color: rgb(22, 90, 133);
}

#my-presentation {
  padding: 20px 60px;
  background-color: #999;
}

#my-presentation .card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 16px;
}

#my-presentation .card_description__detail {
  text-align: left;
  font-size: 16px;
}

@media (max-width: 768px) {
  #my-presentation {
    background-color: #222;
    color: #ddd;
    padding: 0;
  }

  #my-presentation img {
    display: none;
  }
}

#my-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-containe__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 20px 0;
}

.card_description__detail {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
}

@media (max-width: 768px) {
  #my-services {
    grid-template-columns: 1fr;
  }
}
